#about
  %h2= "About"
  %p= "Oblique Strategies are a great way to keep your mind thinking outside the box. When you're working on a problem and you seem to be stuck, having an oblique strategy around to give you a fresh perspective on your problem can be helpful and fun."

  %p= "Oblique Strategies were originally published as a set of index cards in 1975 by Brian Eno and Peter Schmidt."
  
  %p= "This site is currently using third edition of the cards, however the publishers are currently on the fifth revision."