body {
	padding-top: 65px;
}

.strategy {
	width: 550px;
	margin: 0 auto;
	margin-top: 150px;
	background: #f9f9f9;
	font-size: 32px;
	padding: 25px;
}

a {
	color: #ccc;
}

footer {
	margin-top: 50px;
	text-align: center;
}